<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Sender</th>
    </tr>
  </thead>
  <tbody>
    <% @inbox_messages.each do |message| %>
    <tr>
      <td>
        <% if !message.read? %>
          <strong><%= message.subject %></strong>
        <% else %>
          <%= message.subject %>
        <% end %>
      </td>
      <td><%= message.sender.username %> at <%= message.sender.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
