<h1>Browse Members</h1>
<div class="favorites_msg"></div>
<div class="row">
    <%= render partial: 'form_search', object: @activities %>
    <%= render partial: 'results', object: @members %>
</div>




