
<p class="home">With so many people who view exercise and physical activities as a social interaction as well as keeping your body healthy, this was created to promote that interaction and have fun being fit by helping you find friends or partners to enjoy the same activities that you do!</p>



