/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

body{
  letter-spacing: 0.01em;
  line-height: 1.4em !important;
}
.row #nav{
  background: #fff !important;
}
h1,h2,h3,h4,h5,h6{
  color: #fff !important;
  font-family: 'Fjalla One', sans-serif !important;
  margin-bottom:40px !important;
}
input[type="checkbox"]{
    width: 2% !important;

}
input[type="text"], input[type="password"],input[type="email"], textarea,#user_gender, #user_preferred_gender {
  margin: -0.4rem 0 1rem 0 !important;
  height: 1.9rem !important;
  width: 35% !important;
}
#user_activity_ids{
  width: 35% !important;
}

input#submit{
  background-color: #6db3f2 !important
}
label{
  color: #fff !important;
}

h1#title{
  text-align: center;
  font-size:100px;
}
h2.subtitle{
  text-align: center
}

span.members{
  display:block;
  font-size:28px;
  font-weight:bolder;
  margin-bottom:-20px;
}

p.home{
  font-size:18px;
}

a.signin, a.signup{
  display:block;
  background: url('/assets/strip.png') repeat;
  color:#fff;
  padding: 20px 20px 20px 25px;
  font-size:30px;
  font-weight: bold;
  width:170px;
  font-family: 'Fjalla One', sans-serif;
  border:6px solid #fff;
}

a.signin:hover, a.signup:hover{
  border-color: #008CBA;
}

a.signin{
  float:left;
}

a.signup{
  float:right;
}

.button_container{
  width:360px;
  margin:auto;
}

ul.activities li{
  display:inline;
  padding-right:5px;
}

#search-container{
  float:left;
}

#results{
  float:right;
}
